fastapi~=0.115.9
uvicorn~=0.34.2
python-dotenv~=1.1.0
python-multipart
httpx
pydantic~=2.11.4
langchain~=0.3.25
langchain-community~=0.3.23
langchain-ollama
llama-index
chromadb
pypdf~=5.4.0
pandas~=2.2.3
numpy
pytest~=8.3.5
aiohttpx
sqlalchemy~=2.0.40
psycopg2-binary
asyncpg
sentence-transformers
tiktoken
requests~=2.32.3